body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #4DD974; /* Neue Button-Farbe */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #42c364; /* Dunkleres Grün beim Hover */
}

p {
    margin-top: 20px;
    font-weight: bold;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}

copyButton {
    padding: 10px 20px;
    background-color: #40E0D0; /* Mittleres Türkisblau */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Abstand zum Ausgabetext */
}

copyButton:hover {
    background-color: #3ac0b8; /* Dunkleres Türkisblau beim Hover */
}

